
<<<<<<< HEAD
button#register{
=======
#register{
>>>>>>> FETCH_HEAD
	background: #ff8f05;
	background-image: -webkit-linear-gradient(top, #ff8f05, #ff5900);
  	background-image: -moz-linear-gradient(top, #ff8f05, #ff5900);
  	background-image: -ms-linear-gradient(top, #ff8f05, #ff5900);
  	background-image: -o-linear-gradient(top, #ff8f05, #ff5900);
  	background-image: linear-gradient(to bottom, #ff8f05, #ff5900);
  	-webkit-border-radius: 8;
  	-moz-border-radius: 8;
  	border-radius: 8px;
  	-webkit-box-shadow: 4px 4px 4px #666666;
  	-moz-box-shadow: 4px 4px 4px #666666;
  	box-shadow: 4px 4px 4px #666666;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
}

button#register:hover {
	background: #34d968;
  	background-image: -webkit-linear-gradient(top, #34d968, #34d968);
  	background-image: -moz-linear-gradient(top, #34d968, #34d968);
  	background-image: -ms-linear-gradient(top, #34d968, #34d968);
  	background-image: -o-linear-gradient(top, #34d968, #34d968);
  	background-image: linear-gradient(to bottom, #34d968, #34d968);
  	text-decoration: none;
}

